/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Colors */
:root {
    --black: #1D1D1B;
    --primary1: #F7F6F3;
    --primary2: #7C7B75;
    --primary3: #E8E7E4; /* hover color */
    --button-color: #5C5A56;
    /* --turquoise: #51bbc5; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(white);
    color: var(--black);
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 500;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 56px auto;
    grid-template-areas:
        "header"
        "main";
    transition: all 0.3s ease;
    overflow: hidden;
}

.container.active {
    grid-template-columns: 250px auto;
    grid-template-areas: 
        "aside header"
        "aside main";
    transition: all 0.3s ease;
}

header {
    grid-area: header;
    /* border-bottom: 1px solid var(--black); */
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

aside {
    grid-area: aside;
    /* border-right: 1px solid var(--black); */
    background-color: var(--primary1);
    display: grid;
    grid-template-rows: 65px auto;
    grid-template-columns: auto;
    grid-template-areas:
        "search"
        "notes-list";
    transition: all 0.3s ease;
}

main {
    grid-area: main;
}

button {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: var(--button-color);
}

button:hover {
    background-color: var(--primary3);
    transition: all 0.3s ease;
}

button:focus {
    outline: none;
}

.search {
    grid-area: search;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#search {
    padding: 10px 0;
    background-color: transparent;
    border: none;
}

#search:focus {
    outline: none;
    color: var(--black);
}

ul {
    grid-area: notes-list;
}

ul li {
    list-style: none;
    padding: 20px;
    /* border-bottom: 1px solid var(--black); */
    color: var(--primary2);
    transition: all 0.3s ease;
}

ul li:hover {
    cursor: pointer;
    background-color: var(--primary3);
}

.selected {
    background-color: var(--primary3);
    margin-right: -1px; /* CHECK */
}

#toggle {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5px;
    background-color: var(--primary1);
    color: var(--button-color);
    border: none;
}

.active #toggle {
    left: 249px;
}

#toggle:hover {
    cursor: pointer;
    background-color: var(--primary3);
    transition: all 0.3s ease;
}

#note-title,
#note-content {
    border: none;
    outline: none;
    height: calc(100vh -60px);
    width: 100%;
    padding: 10px;
    transition: all 0.3s ease;
}

#note-title {
    font-size: 2em;
    font-weight: 400;
}

#note-content {
    flex-grow: 1;
    font-size: 1em;
    font-weight: 300;
    resize: none;
}

.note-input:focus {
   outline: none;
}



/* header, 
form {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 500;
}

form input, form button {
    padding: 0.5rem;
    border: none;
    font-size: 1.5rem;
    background: white;
}

form button {
    color: var(--turquoise);
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: var(--turquoise);
    color: white;
} */